.education-info {
    width: 268px;
    height: 289px;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 12px;
    background: #F0F0F0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.education-info .header-text {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
}

.education-info__list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.education-info__item {
    width: 116px;
    height: 120px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.education-info__item--last {
    background: #28D979;
    color: #FFFFFF;
}

.education-info__item--law {
    height: 108px;
    background: #FFFFFF;
    color: #000000;
}

.education-info__item--graphic {
    height: 96px;
    background: #FFFFFF;
    color: #000000;
}

.education-info__top-bar {
    width: 100px;
    height: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.education-info__year {
    margin: 0;
    font-weight: 500;
    font-size: 10px;
    line-height: 150%;
}

.education-info__icon-heart {
    width: 11px;
    height: auto;
    display: block;
}

.education-info__content {
    width: 100px;
    height: 61px;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.education-info__content--law {
    height: 49px;
}

.education-info__content--graphic {
    height: 37px;
}

.education-info__name-title {
    margin: 0;
    font-weight: 500;
    font-size: 10px;
    line-height: 150%;
    text-align: left;
}

.education-info__name-title--uiux {
    margin-left: 3px;
}

.education-info__tags {
    width: 100px;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.4;
}

.education-info__tags--law {
    width: 100px;
    height: 36px;
    font-weight: 400;
    font-size: 8px;
    line-height: 150%;
    color: #149063;
}

.education-info__tags--graphic {
    width: 100px;
    height: 24px;
    font-weight: 400;
    font-size: 8px;
    line-height: 150%;
    color: #149063;
}

.education-info__tag {
    display: inline;
    margin-right: 0;
}

.education-info__item--graphic .education-info__tags {
    margin-top: -2px;
}

.education-info__school {
    margin: 0;
    font-weight: 400;
    font-size: 8px;
    line-height: 150%;
    color: #FFFFFF;
}

.education-info__school--law,
.education-info__school--graphic {
    color: #000000;
}