.tools-info {
    width: 124px;
    height: 359px;
    display: flex;
    flex-direction: column;
}

.tools-info__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-top: 15px;
}

.tools-info__list-item {
    width: 76px;
    border-radius: 6px;
    padding: 16px 4px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    position: relative;
}

.tools-info__label {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 2px 6px;
    border-radius: 59px;
    background: #000000;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 5px;
    line-height: 142%;
    white-space: nowrap;
}

.tools-info__tools-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 0;
}

.tools-info__tools-list-item {
    height: 15px;
    flex: 0 50%;
    display: flex;
    box-sizing: border-box;
}

.tools-info__tools-list-item:nth-child(odd) {
    justify-content: flex-end;
    padding-right: 8px;
}

.tools-info__tools-list-item:nth-child(even) {
    justify-content: flex-start;
    padding-left: 8px;
}

.tools-info__icon {
    height: 100%;
}

.tools-info__icon--zapier {
    width: 20px;
    height: 20px;
}

.tools-info__icon--webflow {
    width: 18px;
    height: 18px;
}

.tools-info__icon--framer {
    width: 13px;
    height: 18.5715px;
}

.tools-info__icon--wordpress {
    width: 17px;
    height: 17px;
}

.tools-info__icon--chatgpt,
.tools-info__icon--copilot,
.tools-info__icon--midjourney {
    width: 19px;
    height: 19px;
}

.tools-info__list-item--design {
    height: 111px;
}

.tools-info__list-item--nocode {
    height: 86px;
}

.tools-info__list-item--ai {
    height: 86px;
}